<div [appHighlightFresh]="date" class="courses-list-item">
  <div class="row">
    <div class="col-10 courses-list-item__content">
      <div class="row">
        <div class="col-6 courses-list-item__content-title">
          {{course.name | uppercase}}
          <i *appHide="shouldHide" class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="col-6 courses-list-item__content-details">
          <span class="float-right courses-list-item__content-details-duration">{{course.length | duration}}</span>
          <span class="float-right courses-list-item__content-details-date">{{course.date | date}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col courses-list-item__content-description">
          {{course.description}}
        </div>
      </div>
    </div>
    <div class="col-2">
      <div
        class="btn btn-success float-right courses-list-item__edit"
        (click)="editCourse()">
          Edit
      </div>
      <div
        class="btn btn-danger float-right courses-list-item__delete"
        (click)="openModal(template)">
          Delete
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Do you really want to delete "{{course.name}}" course?
  </div>
  <div class="modal-footer">
    <hr />
    <button
      type="button"
      class="btn btn-secondary confirm-modal-button confirm-modal-button__cancel"
      (click)="modalRef.hide()">Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary confirm-modal-button confirm-modal-button__confirm"
      (click)="deleteCourse()">Confirm
    </button>
  </div>
</ng-template>
