:host {
  padding: 10px;
}

.breadcrumbs {
  background: white;
  padding: 10px;
}
.breadcrumbs__item-name {
  text-transform: capitalize;
}
.breadcrumbs__item-name:first-of-type {
  cursor: pointer;
  text-decoration: underline;
}
.breadcrumbs__item-divider:last-child {
  display: none;
}

